<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="info" internalLogFile="internalLog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="File" name="alldata" fileName="mr.cooper.mrtwit-${shortdate}.log" layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target xsi:type="AsyncWrapper" name="asyncLogging">
			<target xsi:type="File" name="rollingFile"   fileName="mr.cooper.mrtwit.async-${shortdate}.log"  layout="${longdate}|${event-properties:item=EventId_Id}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}"/>
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="alldata,asyncLogging" />
	</rules>
</nlog>
